.formulary {
    background-color: #F8DBDC;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: auto;
    padding: 7px;
}

.labelImputHolder {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.double-column {
    display: flex;
    justify-content: space-between;
}

#first-lastname,
#second-lastname {
    max-width: 130px
}

.input {
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid #6d5f5f;
    margin-top: 10px;
    background-color: white;
    font-size: 18px;
}

#send-button-container {
    display: flex;
    justify-content: center;
}

.formTableHolder {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

td,
th {
    text-align: center;
    padding: 15px;
    border: none;
    color: #393838;
}

th {
    background-color: #F8DBDC;
}

tr:nth-child(even) {
    background-color: #D4E2D4;
}

tr:nth-child(odd) {
    background-color: #FAF3F0;
}

#table-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}

table {
    border-collapse: collapse;
    width: 100%;
}

p{
    color: #8d8585;
    font-style: italic;
    text-align: justify;
}

.edDelBtn {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-position: center;
    border: none;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.edDelBtn:hover {
    transform: scale(1.1);
}

#editBtn {
    background-image: url("/public/images/edit-icon.svg");
}

#deleteBtn {
    background-image: url("/public/images/delete-icon.svg");
}



@media screen and (max-width: 932px) {

    .formTableHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulary {
        margin: 0 20%;
    }

    #first-lastname,
    #second-lastname {
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {

    .formulary {
        margin: 5px;
    }

    #first-lastname,
    #second-lastname {
        max-width: 160px
    }
}
